# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ruby and Ceedling
*.gem
.bundle
Gemfile.lock
pkg/*
.yardoc
*.sublime-workspace

# Temp Files
*.tmp

# IAR Embedded Workbench Files
*.dep
*.eww

# Debug files
Firmware/LCP_PistonDriver/Debug/Obj/

# Other Firmware
Firmware/LCP_PistonDriver/build/
Firmware/LCP_PistonDriver/settings/
Firmware/LCP_PistonDriver/include.txt
Firmware/LCP_PistonDriver/source.txt
Firmware/LCP_PistonDriver/vendor/
Firmware/LCP_PistonDriver/config.h
Firmware/LCP_PistonDriver/path.txt

Backup*.*


# Archives
archive/
# Pressure Test Files
Test/PressureVesselTest/


# Python
__pycache__/
/*.egg_info/
/*.egg_info
*.egg-info/
*.egg-info
.venv/
venv/
.vscode/

# Excel
~*.xlsx